body {
  height: 100vh;

}



header,
footer {
  background-color: #EC3A49;
  color: white;
  text-align: center;
}

header h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
}

footer {

  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: .5rem;
  padding: 0;
  margin: 0;
}

footer p {
  text-decoration: none;
  color: #fff;
  font-size: .7rem;
  padding: 0;
  margin: 0;
}

.card-image {
  transition: all 300ms ease-in-out;
}

.card-image:hover {
  transform: rotate(5deg) scale(1.1);
}


.btn-btn--star p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.icon {
  width: 30px;
}

.btn-star path {
  fill: transparent;
  stroke-width: 10;
  stroke: black;
}

.icon path {
  stroke-dasharray: 748;
  stroke-dashoffset: 0;
}

.btn-btn--star:hover .icon path {
  animation: animate-heart .5s linear forwards;
}

@keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
  }

  40% {
    stroke-dashoffset: 748;
  }

  80% {
    stroke-dashoffset: 1496;
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 1496;
    fill: black;
  }
}